.form-contact{
  margin-top: 70px;
  margin-left: 55px;
  padding: 20px;
  justify-content: center;
}
.form-contact iframe{
   width: 840px;
   height: 1720px;
   display: flex;
   justify-content: center;
   list-style: none;
   border: 0px;
}